// Variables
columns    = 13
width      = 1140px
gap        = 30px

// Media variables
alias      = xs sm md lg xl
gaps       = 10px 15px 20px 20px 30px
medias     = 320px 576px 768px 992px 1200px

transition = all 300ms ease-in-out