.e-card
    position relative
    -webkit-transition box-shadow .1s ease-in-out
    transition box-shadow .1s ease-in-out
    width 100%

    img
        display block

.e-card-body
    padding 30px 30px
    background #fff
    color #666
    box-shadow 0 5px 15px rgba(0,0,0,0.08)
    &.e-card-collapse
        padding 0px
    &.e-card-small
        padding 20px 20px
    &.e-card-large
        padding 40px 40px


.e-card-title
    font-size 24px
    line-height 1.4
    margin-bottom 15px

.e-card-hover:hover
    box-shadow 0 14px 25px rgba(0,0,0,0.16)
