// Margin Base
ms = 10px
mm = ms + 5px
ml = mm + 5px

// Margin Small
.e-mt-sm
    margin ms
.e-mt-sm
    margin-top ms
.e-mr-sm
    margin-right ms
.e-mb-sm
    margin-bottom ms
.e-ml-sm
    margin-left ms

// Margin Medium
.e-mt-md
    margin-top mm
.e-mr-md
    margin-right mm
.e-mb-md
    margin-bottom mm
.e-ml-md
    margin-left mm

// Margin Large
.e-mt-lg
    margin-top ml
.e-mr-lg
    margin-right ml
.e-mb-lg
    margin-bottom ml
.e-ml-lg
    margin-left ml

// Margin Remove
.e-mt-rm
    margin-top 0
.e-mr-rm
    margin-right 0
.e-mb-rm
    margin-bottom 0
.e-ml-rm
    margin-left 0
