// Margin Base
mx = 10px
ms = mx + 5px
mm = ms + 5px
ml = mm + 5px
mxl = ml + 5px

// Margin Small
.e-m-xs
    padding  m
.e-mt-xs
    padding-top  m
.e-mr-xs
    padding-right  m
.e-mb-xs
    padding-bottom  m
.e-ml-xs
    padding-left  m

// Margin Medium
.e-m-sm
    padding  m
.e-mt-sm
    padding-top  m
.e-mr-sm
    padding-right  m
.e-mb-sm
    padding-bottom  m
.e-ml-sm
    padding-left  m

// Padding Large
.e-m-md
    padding  mm
.e-mt-md
    padding-top mm
.e-mr-md
    padding-right mm
.e-mb-md
    padding-bottom mm
.e-ml-md
    padding-left mm

// Margin large
.e-m-lg
    padding ml
.e-mt-lg
    padding-top ml
.e-mr-lg
    padding-right ml
.e-mb-lg
    padding-bottom ml
.e-ml-lg
    padding-left ml

// Margin Extra Large
.e-m-xl
    padding mxl
.e-mt-xl
    padding-top mxl
.e-mr-xl
    padding-right mxl
.e-mb-xl
    padding-bottom mxl
.e-ml-xl
    padding-left mxl

// Margin Remove
.e-mt-rm
    padding-top 0
.e-mr-rm
    padding-right 0
.e-mb-rm
    padding-bottom 0
.e-ml-rm
    padding-left 0
