// Margin Base
mx = 10px
ms = mx + 5px
mm = ms + 5px
ml = mm + 5px
mxl = ml + 5px

// Padding Small
.e-m-xs
    padding px
.e-mt-xs
    padding-top px
.e-mr-xs
    padding-right px
.e-mb-xs
    padding-bottom px
.e-ml-xs
    padding-left px

// Padding Medium
.e-m-sm
    padding ps
.e-mt-sm
    padding-top ps
.e-mr-sm
    padding-right ps
.e-mb-sm
    padding-bottom ps
.e-ml-sm
    padding-left ps

// Padding Large
.e-m-md
    padding pm
.e-mt-md
    padding-top pm
.e-mr-md
    padding-right pm
.e-mb-md
    padding-bottom pm
.e-ml-md
    padding-left pm


.e-m-lg
    padding pl
.e-mt-lg
    padding-top pl
.e-mr-lg
    padding-right pl
.e-mb-lg
    padding-bottom pl
.e-ml-lg
    padding-left pl


.e-m-xl
    padding pxl
.e-mt-xl
    padding-top pxl
.e-mr-xl
    padding-right pxl
.e-mb-xl
    padding-bottom pxl
.e-ml-xl
    padding-left pxl

// Padding Remove
.e-mt-rm
    padding-top 0
.e-mr-rm
    padding-right 0
.e-mb-rm
    padding-bottom 0
.e-ml-rm
    padding-left 0
