// Padding Base
px = 10px
ps = px + 5px
pm = ps + 5px
pl = pm + 5px
pxl = pl + 5px

// Padding Small
.e-p-xs
    padding px
.e-pt-xs
    padding-top px
.e-pr-xs
    padding-right px
.e-pb-xs
    padding-bottom px
.e-pl-xs
    padding-left px

// Padding Medium
.e-p-sm
    padding ps
.e-pt-sm
    padding-top ps
.e-pr-sm
    padding-right ps
.e-pb-sm
    padding-bottom ps
.e-pl-sm
    padding-left ps

// Padding Large
.e-p-md
    padding pm
.e-pt-md
    padding-top pm
.e-pr-md
    padding-right pm
.e-pb-md
    padding-bottom pm
.e-pl-md
    padding-left pm


.e-p-lg
    padding pl
.e-pt-lg
    padding-top pl
.e-pr-lg
    padding-right pl
.e-pb-lg
    padding-bottom pl
.e-pl-lg
    padding-left pl


.e-p-xl
    padding pxl
.e-pt-xl
    padding-top pxl
.e-pr-xl
    padding-right pxl
.e-pb-xl
    padding-bottom pxl
.e-pl-xl
    padding-left pxl

// Padding Remove
.e-pt-rm
    padding-top 0
.e-pr-rm
    padding-right 0
.e-pb-rm
    padding-bottom 0
.e-pl-rm
    padding-left 0
